/* colors-- 
dark - #FFD230
light - #FFEEB3 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    background-color: #FFD230;
}

#nav-left, #nav-right, #nav-center,
#nav-right-products, 
#nav-right-cart, 
#nav-right-admin {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 992px ){
    #navbar-right{
        float: none !important;
    }
}
/* Navigation end */

/* main section start */
#about-section{
    background-color: #FFEEB3 ;
}

#image-section{
    background-color: #FFD230;
}

/* footer start */
#footer-copyright{
    background-color: #FFD230;
    width: 100%;
    margin-right: 0px !important;
}
/* footer end */