/* colors-- 
dark - FFD230
light - FFEEB3 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Start */
#navbar{
    background-color: #FFD230;
}


#nav-left, #nav-right, #nav-center,
#nav-right-products, 
#nav-right-cart, 
#nav-right-admin {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 992px ){
    #navbar-right{
        float: none !important;
    }
    #outer-contactform{
        width: 100%;
    }

    #map-section{
        width: 100%;
    }
    


    
    
    
}
/* Navigation end */

/* Contact-form */
.main-section{
    height: 100%;
}
.contact-form{
    padding: 10px;
    height: 80%;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #FFD230;

}

#outer-contactform{
    background-color: #FFEEB3;
    height: 500px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input{
    border: solid;
    border-radius: 20px;
    padding: 2%;
    width: 80%;
}

textarea{
    border: solid;
    border-radius: 20px;
    padding: 2%;
    width: 80%;
    height: 100% !important;
}

#button-submit{
    border: solid;
    padding: 5px;
    border-radius: 12px;
}
/* contact form end */

/* map section start  */
#map-section{
    background-color: #FFD230;
}

#map{
    border: 2px solid white;
    border-radius: 20px;
    height: 40%;
}
/* map section end */

/* footer start */
#footer-copyright{
    background-color: #FFD230;
}
/* footer end */