/* colors-- 
dark - FFD230
light - FFEEB3 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation start */
#navbar{
    background-color: #FFD230;
}

#nav-left, #nav-right, #nav-center,
#nav-right-products, 
#nav-right-cart, 
#nav-right-admin {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 992px ){
    #navbar-right{
        float: none !important;
    }

    .card{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        
    }
}
/* Navigation end */
#cat-hats, #cat-pants, #cat-jumpers{
    padding: 2%;
}

.card-body{
    padding: 2%;
}

#img-front{
    width: 100%;
    height: 90%;
}

button{
    border-radius: 12px;
    padding: 0.5%;
    background-color: #FFD230;
}

/* footer start */
#footer-copyright{
    background-color: #FFD230;
}
/* footer end */