/* colors-- 
dark - FFD230
light - FFEEB3 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Start */
/* .topnav{
    background-color: #FFD230 ;
    overflow: hidden;
} */
#navbar{
    background-color: #FFD230;
}
#nav-left{
    float: left;
}

#nav-right{
    float: right;
    /* position: fixed;
    left: 90%; */
}

#nav-right-products{
    position: fixed;
    left: 84%;
}
#nav-right-admin{
    position: fixed;
    left: 90%;
}
#nav-right-cart{
    position: fixed;
    left: 95%;
}

#nav-center{
    position: fixed;
    /* top: 50%; */
    left: 47.5%;
    /* right: 50%; */
    /* margin-top: -100px; */
    /* margin-left: -100px; */
}

#nav-left, #nav-right, #nav-center,
#nav-right-products, 
#nav-right-cart, 
#nav-right-admin {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 992px ){
    #nav-left{
        float: none;
    }
    
    
    #nav-right-products{
        position: relative;
        left: 0%;
    }
    #nav-right-admin{
        position: relative;
        left: 0%;
    }
    #nav-right-cart{
        position: relative;
        left: 0%;
    }
    
    #nav-center{
        position: relative;
        left: 0;
    }
}
/* Navigation end */

/* main section start */



/* main section end */
main{
    background-color: #ffeeb3 ;
}

#product-title{
    text-align: center;
}

#bar{
    background-color: #FFD230;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-radius: 20px;
}

ul{
    list-style: none !important;
    text-decoration: none !important;
}
li{
    list-style: none;
    text-decoration: none !important;
}


#btnAddToCart{
    border-radius: 20px;
    padding: 5px;
    background-color: #FFD230;
}

/* #photo{
    width: 100%;
    height: 50% !important;
} */
#products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#products>div {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}




/* footer start */
#footer-copyright{
    background-color: #FFD230;
}
/* footer end */